y_Breast_Cancer_data/
7_BEGAN/gif_data_download/
J_tensor_flow/Clean_Proper/
a_0_rescn/upload/
l_CPS40_Data/
z_super/
l_Super_Resolution_DICOM/images
z_CIFAR_data/cifar10/
z_z_z_kaggle/a_talking/
z_z_z_kaggle/b_data/
z_z_z_z_nuclie/
z_CIFAR_data/elu_network/cifar100
z_CIFAR_data/elu_network/ckpt
z_CIFAR_data/cifar10_preprocessed
z_CIFAR_data/cifar100python/
z_CIFAR_data/micro-projects/
z_CIFAR_data/All-Conv-Keras/
z_CIFAR_data/cifar10_pkl