y_Breast_Cancer_data/
7_BEGAN/gif_data_download/
J_tensor_flow/Clean_Proper/
a_0_rescn/upload/
l_CPS40_Data/
z_super/
l_Super_Resolution_DICOM/images
z_CIFAR_data/cifar10/
z_z_z_kaggle/a_talking/
z_z_z_kaggle/b_data/
z_z_z_z_nuclie/
z_CIFAR_data/elu_network/cifar100
z_CIFAR_data/elu_network/ckpt
z_CIFAR_data/cifar10_preprocessed
z_CIFAR_data/cifar100python/
z_CIFAR_data/micro-projects/
z_CIFAR_data/All-Conv-Keras/
z_CIFAR_data/cifar10_pkl
z_CIFAR_data/Densenet-Tensorflow/Cifar10/cifar-10-batches-py/
z_CIFAR_data/Densenet-Tensorflow/Cifar10/logs/
z_CIFAR_data/z_archieve/
z_CIFAR_data/Wide-Residual-Network/mean_std/
c-c-tree/data/
zZZZZZz_Medical/
z_Medical_segmentation/
l-lung-seg/DRIVE/
UU-Net/DRIVE/
z_z_z_kaggle/c_preprocessed_data/
z_segmentation_data/
zzz_SchoolData/
y_NIPS/a_screte/gif/
y_NIPS/a_screte/images/
y_NIPS/a_screte/big_image/
zzzz_DICOM_Pig/